{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="mb-4">

    <h1>Dashboard</h1>

    <p class="text-muted">
        Bienvenido al sistema de control estudiantil.
    </p>

</div>

<div class="card shadow-sm mb-4">

    <div class="card-body">

        <h4>
            Bienvenido {{ usuario.nombre }}
        </h4>

        <p class="mb-0">
            Rol:
            <strong>
                {{ usuario.rol.nombre }}
            </strong>
        </p>

    </div>

</div>

<div class="row g-4">

    <div class="col-md-4">

        <div class="card dashboard-card shadow-sm h-100">

            <div class="card-body">

                <h5 class="card-title">
                    Estudiantes
                </h5>

                <p class="card-text">
                    Administración de estudiantes.
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card dashboard-card shadow-sm h-100">

            <div class="card-body">

                <h5 class="card-title">
                    Asignaturas
                </h5>

                <p class="card-text">
                    Administración de asignaturas.
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card dashboard-card shadow-sm h-100">

            <div class="card-body">

                <h5 class="card-title">
                    Calificaciones
                </h5>

                <p class="card-text">
                    Administración de calificaciones.
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}