body {
    background-color: #f8f9fa;
}

.dashboard-card {
    transition: 0.3s;
    cursor: pointer;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.navbar-brand {
    font-weight: bold;
}